* {
  margin: 0;
  padding: 0;
}

.favorites {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.weather-current-place {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column: 1 / 5;
}

.favorites_weather-city {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.city-info {
  grid-column: 1 / 5;
}

li {
  list-style-type: none;
}
