* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  padding: 2em;
  background: -webkit-gradient(linear, left top, right top, from(#92fe9d), to(#00c9ff));
  background: linear-gradient(to right, #92fe9d, #00c9ff);
}

.wrapper {
  margin: auto;
  max-width: 990px;
}

.weather-current-place {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 2em 2em;
  margin-bottom: 2em;
}

.favorites {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 2em 2em;
}

.header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-column: 1 / -1;
}

.city-name {
  font-size: 1.8em;
  text-align: center;
}

.city-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.city-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.city-info__item {
  list-style-type: none;
  background: -webkit-gradient(linear, left top, right top, from(#92fe9d), to(#00c9ff));
  background: linear-gradient(90deg, #92fe9d, #00c9ff);
  padding: 7px 10px;
  margin: 5px 0px;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  font-weight: 600;
  min-height: 20px;
  border-radius: 8px;
}

.city-info__value {
  float: right;
  font-weight: 400;
}

.city-current {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.city-current__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
}

.skeleton {
  background: -webkit-gradient(linear, left top, right top, from(#8A9BA8), to(#CED9E0));
  background: linear-gradient(90deg, #8A9BA8, #CED9E0);
  background-size: 200% 200%;
  -webkit-animation: AnimationLoading 2s ease infinite;
          animation: AnimationLoading 2s ease infinite;
}

.grey {
  color: #8A9BA8;
  fill: #8A9BA8;
}

@-webkit-keyframes AnimationLoading {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes AnimationLoading {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

h2 {
  font-size: 2.3em;
}

.temperature_big {
  font-size: 5.128em;
}

.temperature_small {
  font-size: 1.8em;
}

.form {
  -ms-grid-column: 3;
  grid-column: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.form__input {
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: #d3dce3;
  font-size: 1.5em;
  display: block;
}

.button {
  cursor: pointer;
  outline: none;
  background-color: #738694;
  color: #E1E8ED;
  font-weight: 400;
}

.button:hover {
  background: -webkit-gradient(linear, left top, right top, from(#92fe9d), to(#00c9ff));
  background: linear-gradient(90deg, #92fe9d, #00c9ff);
}

.button-update {
  -ms-grid-column: 2;
  grid-column: 2;
  border-radius: 25px;
  border: none;
  font-size: 1em;
  width: 250px;
  margin: 0 auto;
}

.button__add {
  margin-left: 10px;
}

.button_circle {
  border: 0px;
  border-radius: 20px;
  width: 40px;
  height: 40px;
}

.card {
  background: #E1E8ED;
  padding: 15px;
  border-radius: 15px;
}

.text-hidden {
  display: none;
}

.weather-badge {
  width: 50px;
  height: 50px;
  -webkit-filter: contrast(0.8);
          filter: contrast(0.8);
}

.weather-badge_big {
  width: 100px;
  height: 100px;
}

@media screen and (max-width: 767px) {
  .weather-current-place, .favorites {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .city-header {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .city-header h4 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .header {
    -ms-grid-columns: 1fr 50px;
        grid-template-columns: 1fr 50px;
    grid-gap: 1em 0em;
  }
  .header .button-update {
    background-image: url(/img/reload_s.png);
    background-position: 50%;
    background-size: 70%;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    border: 0px;
    border-radius: 20px;
    margin: auto;
  }
  .favorites .header h2 {
    grid-column: span 2;
  }
  .form {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
  }
  .form__input {
    width: calc(100% - 40px);
  }
  .text-hidden_mobile {
    display: none;
  }
  body {
    padding: 1em;
  }
}
/*# sourceMappingURL=style.css.map */